/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26 jun. 2022, 19:46:27
    Author     : Diana Jiménez
*/

@import url('https://fonts.googleapis.com/css2?family=Nuosu+SIL&family=Tai+Heritage+Pro:wght@700&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Nuosu SIL', serif;
}

body{   
    background-image: url(../images/Evento.jpg);   
    height:100vh;
    width:100%;
    background-position:center;
    background-size: cover;
    padding-left: 10%;
    padding-right: 35%;
    box-sizing: border-box;
    position:relative;
}

.navbar{
    position:static;
    background-color: black;
    position: relative;
    top:-0%;
    height:16vh;
    width:181.7%;
    left: -192px;
    display:flex;
    align-items: center; 
}

.logo{
    width:160px;
    cursor:pointer;
}

nav{
    flex:1;
    padding-left:60px;
}

nav ul li{
    display:inline-block;
    list-style:none;
    margin:0px 20px;
}

.nav img{
   position:static;
   display:inline-block;
   right:200%;
}

nav ul li a{
    position: relative;
    left:300%;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
}